process {
    withName:subset_vcfs {
        container = 'mrcieu/bcftools:bcftools-1.22'
    }
    withName:vcf_2_bfile_plus_map {
        container = 'mrcieu/plink:plink-1.9.0-b.7.11_alpine-3.23'
        shell = ['/bin/sh', '-ue']
    }
    withName:get_ldscores {
        container = 'mrcieu/ldsc:ldsc-9c78156_python3.9'
        maxForks = 1
    }
}

docker {
    enabled = true
    runOptions = "--cpus='8'"
}